
.delete-container{
  display: flex;
  min-height: 6em;
  align-items: center;
  padding: 1.5em;
  flex-direction: column;
}

.delete-button:active {
  transform: scale(.97);
}

.delete-button {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  margin-right: 2em;
  margin-left: 2em;
  height: 2.6em;
  border-radius: .5em;
  min-width: 9em;
  padding: 1em;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.create-review-header{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.delete-button-No {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  margin-right: 2em;
  margin-left: 2em;
  color: white;
  height: 2.6em;
  border-radius: .5em;
  min-width: 9em;
  padding: 1em;
  transition: all 0.2s ease-in-out;
  border: none;
  margin-top: 1em;
  cursor: pointer;
}
