div.spots-container{
  display:flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}


div.spot-cards-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  width: 90%;
}
