.host-page-container{
  display: flex;
  position: fixed;
  left: 0;
  /* top: 0; */
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue, sans-serif;
  font-size: 20px;
}

/* .host-page-container {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
} */


.host-page-left-conatiner{
  min-width: 50%;
  min-height: 100%;
  background: linear-gradient(0.5turn, #CE277A, #451DA0);
  display: flex;
  align-items: center;
  margin-top: 3.2em;
}

.host-page-right-container {
  min-width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

form.new-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  /* padding-top: 1em; */
  position: relative;
}

.errors-list{
  margin-bottom: 1em;
  font-size: 12px;
}

.form-input-none-create{
  min-height: 2em;
  width: 450px;
  /* min-width: 100%; */
  box-sizing: border-box;
  padding-left: 1rem;
}

.create-spot-title {
    position: relative;
    /* bottom: 7%; */
    padding-left: 1.4em;
    color: black;
    font-size: 20px;
}



.welcome-message {
  position: relative;
  bottom: 7%;
  padding-left: 1.4em;
  color: white;
  font-size: 3rem;
}



.create.submit-button {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  min-width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 2em;
  position: relative;
}

.create.submit-button:active {
  transform: scale(.97);
}
