.host-page-container{
  display: flex;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue, sans-serif;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  font-size: 20px;
  z-index: -1;
}



.host-page-left-conatiner{
  min-height: 100%;
  min-width: 50%;
  display: flex;
  margin-top: 3.2em;
  background: linear-gradient(0.5turn, #CE277A, #451DA0);
  align-items: center;
}

.host-page-right-container {
  min-width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  padding-top: -3em;
}


.errors-list{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 12px;
  margin-right: 13px;
  width: 37em;
}

.errors-list-sign{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 12px;
  margin-right: 13px;
  width: 25em;
  color:red;
  
}

.host-message {
  position: relative;
  bottom: 7%;
  padding-left: 1.4em;
  color: white;
  font-size: 3rem;
}

.form-input-none-create{
  min-height: 2em;
  width: 450px;
  box-sizing: border-box;
  padding-left: 1rem;
  border-radius: 5px;
}


form.new-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  position: relative;
}


.create-submit-button{
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  margin-top: 10px;
  margin-right: 2em;
  margin-left: 2em;
  height: 2.6em;
  border-radius: .5em;
  width: 25em;
  padding: 1em;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
