TODO Add site wide styles

body {
	margin: 0 auto;
	max-width: 948px;
}

* {
    font-family: sans-serif;
}

body {
	font-family: sans-serif;
}

header,
footer {
	text-align: center;
}

/*
.card {
	background-color: orangered;
	border-radius: 5px;
	color: white;
	padding: 24px 0 16px;
	text-align: center;
	text-shadow: 1px 1px 0 #555;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
*/
