div.svg-container{
  position: sticky;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 500px;
  height: 64px;
  cursor: pointer;
}


.favicon {
  max-height: 150px;
  width: 150px;
  margin-top:15px;
  cursor: pointer;
  margin-left: 20px;
}

img.svg-logo-name {
  position: sticky;
  max-height: 5em;
  max-width: 3.8em;
}

nav.main-navbar-nav {
  position: fixed;
  display:flex;
  align-items: center;
  background-color: #ffffff;
  top: 0%;
  width: 100%;
  justify-content: left;
  justify-content: space-between;
  border-bottom: 1px solid rgb(234, 229, 229);
  margin-bottom: 2em;
  height: 4em;
}
