div.svg-container{
  position:sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 118px;
  max-height: 64px;
  margin-left: 3em;
  cursor: pointer;
}


.favicon {
  position:sticky;
  display: flex;
  max-height: 150px;
  max-width: 150px;
  margin-top:15px;
  margin-right: 25px;
}

img.svg-logo-name {
  position:sticky;
  max-height: 5em;
  max-width: 3.8em;
}

nav.main-navbar {
  position: fixed;
  display:flex;
  background-color: #ffffff;
  top: 0%;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(234, 229, 229);
  margin-bottom: 2em;
  height: 4em;
}
