img.profile-icon{
  max-width: 1.8em;
  max-height: 1.8em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

div.profile-button-border {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 2.7em;
  box-sizing: border-box;
  padding: 0;
  min-height: 40px;
  min-width: 77px;
  transition: all .2s ease;
  justify-self: flex-end;
  cursor: pointer;
}

div.profile-button-border:hover{
  box-shadow: 1px 5px 5px rgb(195, 195, 195) !important;
  cursor: pointer;
}


.host-hover-border {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8em;
  min-height: 2em;
  border-radius: 2em;
  cursor: pointer;
}

.host-hover-border:hover {
  background-color: rgb(247, 243, 243);
  cursor: pointer;
}

img.hamburger-icon{
  max-width: .9em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}


ul.profile-list {
  list-style-type: none;
  cursor: pointer;
}

.profile-list-item {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div.right-profile-container {
  margin-right: 2em;
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  cursor: pointer;
}


.menu-my-bookings {
  text-decoration: none;
  color: black
}

.become-host-link {
  color: black;
  text-decoration: none;
  font-size: .9rem;
  cursor: pointer;
}

div.profile-dropdown {
  display: flex;
  flex-direction: column;
  width: 15em;
  background-color: white;
  box-shadow: 1px -2px 4px rgb(195, 195, 195);
  border-radius: .5em;
  position: absolute;
  top: 90%;
  right: 6%;
  z-index: 2;
  cursor: pointer;
}
.hover-link {
  margin-left: -2em;
  pointer-events: auto;
  cursor: pointer;
}

.hover-link:hover {
  margin-left: -2em;
  background-color: rgb(216, 207, 207);
  
}

.user-name-li {
  margin-left: -2em;
}
