.login-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title-container-review{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.information{
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 18em;
  min-width: 19em;
  padding: 24px;
  border-radius: .5em;
}

.error-container-update {
  margin-top: -6em;
  margin-bottom: -4em;
}


.login-form-review {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20em;
  min-width: 19em;
  padding: 24px;
  border-radius: .5em;
  border: 1px solid white;
  box-shadow: 0px 0px 15px rgb(211, 210, 210);
}


.login-form-SignUp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25em;
  width: 40em;
  padding-bottom: 24px;
  border-radius: .5em;
}

.update-spot-errors{
  color: red;
  display: flex;
  align-items: center;
  padding-right: 1em;
  padding: .5px 0;
}

.login-form-SignUp-spots {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60em;
  width: 40em;
  padding: 24px;
  border-radius: .5em;
}

.login-button {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.login-button-sign {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 2em;
}

.login-button-update-spot {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: -10em;
}



.login-button-review {
  background: linear-gradient(0.25turn, #E61E4D, #D70666);
  color: white;
  border: none;
  height: 2.6em;
  border-radius: .5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-button:active {
  transform: scale(.97);
}

.login-input {
  min-height: 3em;
  min-width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  margin-bottom: 5px;
  border-radius: 5px;
}


input:focus {
  outline: none !important;
  border: 10px;
  box-shadow: 0 0 5px #719ECE;
}




input.login-input:placeholder-shown {
  padding-left: 1rem;
}


.signup-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
}


.login-errors-container{
  padding: 0;
  margin: 0;
  min-height: .6em;
}

.errors-list {
  list-style: none;
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgb(212, 24, 24)
}
